<footer>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand"></a>
        </div>

        <div>
           <ul class="nav navbar-nav">
             <li><a href="www.facebook.com">Facebook</a></li>
             <li><a href="www.Twitter.com">Twitter</a></li>
             <li><a href="#">Google+</a></li>
           </ul>
        </div>

      </div>
</nav>
</footer>

