<nav class="nav navbar-inverse navbar-fixed-top ">
     <div class="container-fluid">
       <div class="navbar-header">
            <a class="navbar-brand" href="#">Todo App</a>
       </div>

    <div>
     <ul class="nav navbar-nav">
       <!--<li class="active"><a href="#">Home</a></li>-->
       <li><a href="#">Home</a></li>
       <li><%= link_to 'Send Email' , users_path %></li>
       <li><%= link_to 'Todo List' , todo_lists_path %></li>
       <li><%= link_to 'Upload Documents' , documents_path %>
     </ul>
      </div>
    </div>
</nav>

